body{
    padding: 100px;
    background-color:rgb(51, 209, 180);
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(23, 17, 4);
    background-color: white;

}
#Transaction-area{
    display: none;
    
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}